Source: cbhd
Priority: extra
Maintainer: Joel DeJesus <joeldejesus@localhost.localdomain>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/cbhd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cbhd.git;a=summary

Package: cbhd-dev
Section: libdevel
Architecture: any
Depends: cbhdBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: cbhdBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
