Package: libperl-cbitcoin-cbhd
Version: 0.1-1
Architecture: amd64
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Installed-Size: 85
Depends: libc6-amd64 (>= 2.2.5), libcbitcoin0, libssl1.0.0 (>= 1.0.0)
Section: extra
Priority: extra
Homepage: https://e-flamingo.jp
Description: Perl modules for cbitcoin.
 Manipulate bitcoin objects in perl.
