Source: libcbitcoin-perl
Section: perl
Priority: optional
Maintainer: Joel Manuel De Jesus (Work Account) <dejesus.joel@e-flamingo.net>
Build-Depends: libfile-slurp-perl,libcrypt-cbc-perl, 
   libberkeleydb-perl, debhelper (>= 8.0.0), 
   libcrypt-openssl-aes-perl, libio-socket-socks-perl, 
   liblog-log4perl-perl, libmath-bigint-gmp-perl, 
   libgmp-dev,libjson-xs-perl,libconvert-base32-perl, 
   libssl-dev,
   libccoin-dev (>=0.6), libnet-ip-perl,
   libio-epoll-perl, libev-perl,
   libdata-uuid-perl,
   libimage-png-qrcode-perl
Standards-Version: 3.9.6
Homepage: https://github.com/favioflamingo/libcbitcoin-perl

Package: libcbitcoin-perl
Architecture: any
Depends: libfile-slurp-perl, libcrypt-cbc-perl, 
  libnet-dns-perl (>=1.06), libberkeleydb-perl, 
  libcrypt-openssl-aes-perl, 
  libio-socket-socks-perl, liblog-log4perl-perl, 
  libmath-bigint-gmp-perl, libconvert-base32-perl, 
  libccoin0 (>= 0.6), libdigest-sha-perl,
  libnet-ip-perl,libdata-uuid-perl, libimage-png-qrcode-perl
  ${misc:Depends}, ${shlibs:Depends}
Description: Perl modules for cbitcoin.
 Manipulate bitcoin objects in perl.
