#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_BUILD_HARDENING=1

# --with autotools-dev

%:
	dh $@  

override_dh_auto_configure:
	perl Makefile.PL PREFIX=/usr
	make static
override_dh_auto_install:
	make DESTDIR=debian/libcbitcoin-perl pure_install

override_dh_usrlocal:
	echo nothing


#build:
#	ln -s arch/auto/CBitcoin/CBitcoin.so debian/libcbitcoin-perl/arch/auto/CBitcoin/CBitcoin.so
