Source: libperl-cbitcoin-transactioninput
Section: extra
Priority: extra
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: https://e-flamingo.jp

Package: libperl-cbitcoin-transactioninput
Architecture: any
Depends: libc6-amd64:i386 (>= 2.3.2) [amd64], libevent-2.0-5 (>= 2.0.10-stable), libevent-core-2.0-5 (>= 2.0.10-stable), libevent-extra-2.0-5 (>= 2.0.10-stable), libevent-openssl-2.0-5 (>= 2.0.10-stable), libevent-pthreads-2.0-5 (>= 2.0.10-stable), libssl1.0.0 (>= 1.0.0), ${misc:Depends}, libperl-cbitcoin-script
Description: Perl modules for cbitcoin.
 Manipulate bitcoin objects in perl.
