Source: libperl-cbitcoin-cbhd
Section: unknown
Priority: extra
Maintainer: Joel DeJesus <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://e-flamingo.jp

Package: libperl-cbitcoin-cbhd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Install perl object oriented module for CBHD
 This package is used to manipulate hierarchial distribution keys.
